<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virginia.cs.edu.politoed" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <supports-screens android:resizeable="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        <activity
            android:name="com.example.virginia.cs.edu.politoed.ViewAlarms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.example.virginia.cs.edu.politoed.LightUpRPi"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.virginia.cs.edu.politoed.SetAlarm"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="com.example.virginia.cs.edu.politoed.AllAlarms" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.virginia.cs.edu.politoed.AllAlarms" />
        </activity>
        <activity
            android:name="com.example.virginia.cs.edu.politoed.OneAlarm"
            android:label="@string/title_activity_one_alarm" >
        </activity>

        <!-- Register the Alarm Receiver -->
        <receiver android:name="com.example.virginia.cs.edu.politoed.AlarmReceiver" />

        <activity
            android:name="com.example.virginia.cs.edu.politoed.AlarmLockScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Politoed"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.example.virginia.cs.edu.politoed.AllAlarms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.virginia.cs.edu.politoed.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.virginia.cs.edu.politoed.AllAlarms" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.virginia.cs.edu.politoed.AllAlarms" />
        </activity>
        <activity
            android:name="com.example.virginia.cs.edu.politoed.OAuth"
            android:label="@string/title_activity_oauth" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alarmapp"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
    </application>

</manifest>